*{
    margin: 0;
    padding: 0;
    font-family: 'Playfair Display', serif;
}
.header{
    min-height: 100vh;
    width: 100%;
    background-image:linear-gradient(rgba(4,9,30,0.7), rgba(4,9,30,0.7)),url(images/campus.jpg);
   
    background-position: center;
    background-size: cover;
    position: relative;
}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
}
nav img{
    width: 150px;

}
.nav-links{
    flex: 1;
    text-align: right;
    
}
.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
}
.nav-links ul li a{
    color: white;
    text-decoration: none;
    font-size: 14px;
}
.nav-links ul li::after{
    content: '';
    width: 0%;
    height: 2px;
    background: red;
    display: block;
    margin: auto;
}
.nav-links ul li:hover::after{
    width: 100%;
    transition: 0.3s;
}
.text-box{
    width: 95%;
    color: antiquewhite;
    position: absolute;
    top: 51%;
    left: 51%;
    transform: translate(-51%,-51%);
    text-align: center;
    
}
.text-box h1{
    font-size: 60px;
}
.text-box p{
    margin: 11px 0px 45px;
    font-size: 20px;
    color: aliceblue;
}
.don{
    display: inline-block;
    text-decoration: none;
    color: aliceblue;
    border: 2px solid aliceblue;
    padding: 14px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.don:hover{
    border: 2px solid greenyellow;
    background: brown;
    transition: 1.2s;
}
nav .fa{
    display: none;
}
@media(max-width: 700px){

    .text-box h1{
        font-size: 20px;
    }
    .nav-links ul li{
        display: block;

    }
    .nav-links{
        position: absolute;
        background: olive;
        width: 200px;
        height: 100vh;
        top: 0;
        right: -200px;
        text-align: left;

        z-index: 1.2;
        transition: 1s;

    }
    nav .fa{
        display: block;
        color: aqua;
        margin: 12px;
        font-size: 24px;
        cursor: pointer;
    }
    .nav-links ul{
        padding: 30px;

    }
}
/*----------For courses-----------*/
.Courses{
    width: 75%;
    margin: auto;
    text-align: center;
    padding-top: 98px;
}
h1{
    font-size: 38px;
    font-weight: 590;

}
p{
    color: purple;
    font-family: 'Times New Roman', Times, serif;
    font-size: 20px;
    line-height: 23px;
    padding: 11px;
}
.row{
    margin-top: 5%;
    display: flex;
    justify-content: space-between;

}
.course-col{
    flex-basis: 45%;
    background: rosybrown;
    border-radius: 2.8px;
    margin-bottom: 6%;
    padding: 22px 13px;
    box-sizing: border-box;
    box-shadow: 12px;
}
h3{
    text-align: center;
    font-weight: 550;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: bold;
    margin: 11px 0;

}
.course-col:hover{
    box-shadow: 0 0 23px 0px rgba(0,0,0,0.2);
    transition: 1.5s;
    
}
@media(max-width: 700px){
    .row{
        flex-direction: column;
    }
}
/*------for campus*/
.campus{
    margin: auto;
    text-align: center;
    width: 78%;
    padding-top: 53px;
}
.campus-col{
    position: relative;
    margin-bottom: 29px;
    border-radius: 11px;
    overflow: hidden;
    flex-basis: 35%;
}
.campus-col img{
    width: 100%;
    margin: 15px;
    padding: 5px;
    margin-left: 10px;
    height: 100%;
    margin-right: auto;
    display: block;

}
.layer{
    font-family: cursive;
    font-weight: 100;
    background: transparent;
    height: 101%;
    width: 101%;
    position: absolute;
    top:5%;
    left: 3%;
    transition: 1s;
    margin-right: 2px;
}
.layer:hover{
    background: rgba(226,0,0, 0.3);
}
.layer h3{
    width: 100%;
    font-weight: 502;
    color: bisque;
    font-size: 25px;
    bottom: 0;
    left: 52%;
    transform: translateX(-50%);
    position: absolute;
    transition: 1s;
    opacity: 0;
}
.layer:hover h3{
    bottom: 50%;
    opacity: 1;
}

/*=----------------------------For facility---*/
.facilities{
    width: 81%;
    margin: auto;
    padding-top: 103px;
    text-align: center;
}
.facilities-col{
    flex-basis:31%;
    border-radius: 11px;
    margin-bottom: 6%;
    text-align: left;
}
.facilities-col img{
    height: 50%;
    width: 100%;
    border-radius: 11px;
}
.facilities-col p{
    padding: 0%;

}
.facilities-col h3{
    margin: 14px;
    margin-bottom: 14px;
    text-align: left;
}
.testimonials{
    width: 60%;
    padding-top: 50px;
    margin: auto;
    text-align: center;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.testimonials-col{
    flex-basis: 33%;
    border-radius: 11px;
    text-align: left;
    background:peru;
    padding: 25px;
    cursor: pointer;
    display: flex;
    margin: 5%;
}
.testimonials-col img{
    height: 40px;
    
    margin-left: 5px;
    margin-right: 30px;
    border-radius: 50%;
}
.testimonials-col p{
    padding: 0;

}
.testimonials-col h3{
    margin-top: 15px;
    text-align: left;
    text-decoration: dotted;
    
}
@media(max-width: 700px){
    .testimonials-col img{
    
        padding: 5px;
        margin-left: 0px;
        margin-right: 0px;
        
    }
}
/*call----*/

.call{
    margin: 100px auto;
    width: 80%;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url(images/banner.jpg);
    padding: 100px 0;
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    text-decoration: double;
    color: greenyellow;
    
}
.call h1{
    color: greenyellow;
    margin-bottom: 42px;
    padding: 0;
}
@media(max-width: 700px){
    .call h1{
        font-size: 23px;
    }
}   
.footer{
    text-align: center;
    color: chocolate;
    animation: 3s;
    width: 100px;
    margin: auto;
}



